

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/todo"><span class="glyphicon glyphicon-edit"></span> 備忘錄</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
     <li><a href="/contact"><span class="glyphicon glyphicon-book"></span> 記事本</a></li>
   </ul>
  </div>
</nav>
