<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
  <% include ./partials/nav %>
</header>
<center>
    <h2>
      <div class="row">
         <div class="col-sm-2" style="background-color:lavender;">
           <h2><ul>
             <% for(var i=0; i < data.length ; i++ ){ %>
              <div><%= data[i].date %></div>
           <%  } %>
         </ul></h2>
         </div>
         <div class="col-sm-3" style="background-color:lavenderblush;">
           <h2><ul>
           <% for(var i=0; i < data.length ; i++ ){ %>
             <div><%= data[i].label %></div>
         <%  } %>
       </ul>
     </h2>
       </div>
       <div class="col-sm-7" style="background-color:lavenderblush;">
         <h2><ul>
         <% for(var i=0; i < data.length ; i++ ){ %>
           <div><%= data[i].comment %></div>
       <%  } %>
     </ul></h2>
     </div>
       </div>
    </h2>
</center>
  </body>
</html>
